amqp==5.0.9
appdirs==1.4.4
asgiref==3.5.0
autopep8==1.6.0
billiard==3.6.4.0
black==21.12b0
# btrfsutil==5.16.2
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
convertapi==1.4.0
Django==4.0.3
django-cors-headers==3.11.0
django-filter==21.1
django-rest-knox==4.1.0
djangorestframework==3.13.1
dnspython==2.2.0
docopt==0.6.2
flake8==4.0.1
Flask==1.1.2
gunicorn==20.0.4
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.3
keyutils==0.6
kombu==5.2.3
lit==13.0.1.dev0
manjaro-sdk==0.1
Markdown==3.3.6
MarkupSafe==2.0.1
mccabe==0.6.1
more-itertools==8.10.0
mypy-extensions==0.4.3
npyscreen==4.10.5
nulltype==2.3.1
ordered-set==4.0.2
packaging==21.3
pacman-mirrors==4.23.2
pathspec==0.9.0
pdf2image==1.16.0
Pillow==9.0.1
platformdirs==2.4.1
prompt-toolkit==3.0.24
pwquality==1.4.4
pycodestyle==2.8.0
pyflakes==2.4.0
PyGObject==3.42.0
pyparsing==3.0.7
PyPDF2==1.26.0
PySide6==6.2.3
pytesseract==0.3.9
python-dateutil==2.8.2
python-dotenv==0.15.0
pytz==2021.3
PyYAML==6.0
rados==2.0.0
rbd==2.0.0
requests==2.27.1
rgw==2.0.0
shiboken6==6.2.3
six==1.16.0
sqlparse==0.4.2
systemd-python==234
team==1.0
typing_extensions==4.0.1
udiskie==2.4.2
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
whitenoise==6.0.0
zipp==3.7.0
